@import "_colors";
@import "_variables";

*{
    font-family : $font-primary;
}

body{
    div.col{
        @media screen and (max-width : 768px){
            margin: $mr-card;
            box-shadow: $card;
        }
        @media screen and (min-width : 768px) and (max-width : 960px){
            width: calc((100% - (#{$mr-card} * 2) * 2) / 2);
            float: left;
            margin : $mr-card;
            box-shadow: $card;
        }
        @media screen and (min-width: 960px){
            width: calc((100% - (#{$mr-card} * 2) * 3) / 3);
            margin : (#{$mr-card * 2}) #{$mr-card} 0 #{$mr-card};
            float: left;
            box-shadow: $card;
        }
        header{
            background-image: url(../img/header.jpeg);
            height: 150px;
            background-size: cover;
            position: relative;
            text-align: center;
            a{
                &:first-child{
                    position: absolute;
                    right: 0;
                    color: white;
                    border-radius: 30px;
                    padding: 10px;
                    font-weight: bolder;
                    font-size: 12px;
                    background-color: $primary-color;
                    margin: 15px;
                }
                &:last-child{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: $primary-color;
                    color: white;
                    font-size: 12px;
                    padding:8px 14px;
                    font-weight: bolder;
                }
            }
        }
        section{
            padding: 15px 30px;
            h4{
                margin-bottom: 10px;margin-top: 10px; color: red
            }
            p{
                line-height: 22px
            }
            span{
                margin-right: 7px;
                i.mr-5{
                    margin-right: 5px;
                }
            }
        }
    }
}